bin/
obj/
tmpbin/
tmpobj/
tmpbin_sync/
tmpbin_sync2/
TestResults/
coverage/
*.user
*.csproj.user
*.DotSettings.user
*.suo
*.cache
*.log
*.tmp
*.bak
*.orig
*.rej
*.dll
*.pdb
*.zip
.vs/
.vscode/
.idea/
.codegraph/
